language: javascript
node_js:
- '14'
env:
- NODE_ENV=ci
dist: trusty
services:
- docker
cache:
  directories:
  - node_modules
  - client/node_modules
install:
- npm ci
script:
- npm run build
- npm run test
- docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
- docker build -t balrrazh/balraj-repository1:v1 .
- docker push balrrazh/balraj-repository1:v1
deploy:
  skip_cleanup: true
  provider: heroku
  api_key:
    secure: LVZ37cKG4fHTncmQySRZ9ETFtO45W+ZIh2HfaUIL11M2Br5NzJLGjt9Tr0s0DhGSpLLOv61JVNq1/sgzHLKEXuoEZhd8wHZqd4GK88JPK17efNBmWzpu6/LabHqZXXV3/DHVoAHA+CKTnoS117q6yTDwdkwYxLVW1hn2AoncdkUvj1RS1IPH69Xu0ywZwG/043gWXpFU5d7mqOJHFfH2VzumzWCizA3lZMVoCfwiSWuYxTLQ1DOGgm+u/69rsXawwwtf2yofA3BerCmgrURBKptG5Q49pvo/dxtPW+sHW2AtEg/w0OsHCXOfEEtbZXz74F14GNBM+63pcVCIv5sf5PZuZB2BnE3AiLB4Dw9Ou84fYTuTYp2fRBTq9SSRrrJZCK5itrDMTyZ2/Bm9F04LAcdUhsn6YtTjh/hL49j0pPcRsCl8eE960WvW4BrSg+1t91xFE3r4HMGAqOLu2BI8H8iRdK+1Swwj5Pgc9mHAG9B85BoOLp4keooogMwz5HiHZ2YnAH6B+a/psRCSArm+UDceOFYe1X8vfcBK6gki/GaDosF2u8Jhvf9z+RY2JIQLSmIb1Vf4ccad9vxc/uWrqX7aqD3BNqcaKmyLMx04ovOZv1WJo5OG4DN6HNMazDzzJv6WEhQjYP0rJBozwmbZPexMDwMAjcGI2uLlL5FM6Sc=
  app: angular-ui-app
