.title-style {
    padding: 0;
    margin-bottom: 10px;
}
.content-style {
    padding: 30px 24px;
    border-top: 1px solid #AAA;
    border-bottom: 1px solid #AAA;
    .spinner-style {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}
.footer-style {
    float: right;
    padding: 5px 0;
}