.add-tour-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        text-align: center;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    label {
        width: 250px;
        margin-bottom: 5px;
    }

    input {
        width: 250px;
        height: 20px;
        margin-bottom: 5px;
    }

    select {
        width: 250px;
        height: 26px;
        margin-bottom: 5px;
    }
    
    .form-control-feedback {
        font-size: 14px;
        color: red;
        width: 250px;
    }
    
    .form-control-invalid-user {
        margin-bottom: 15px;
        color: red;
    }
    
    .btn-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}