<div class="student-list">
    <div class="title">Student List</div>
    <div class="crud-buttons">
        <span>
            <button type="button" class="btn btn-primary" routerLink="/student/form">{{addLabel}}</button>
        </span>
        <span>
            <button type="button" class="btn btn-primary" (click)="editSelectedStudent()"
                [disabled]="editDisabled">{{editLabel}}</button>
        </span>
        <span>
            <button type="button" class="btn btn-primary" (click)="deleteSelectedStudent()"
                [disabled]="deleteDisabled">{{deleteLabel}}</button>
        </span>
    </div>
    <div class="search" [formGroup]="searchForm">
        <input type="text" name="name" formControlName="name"/>
    </div>
    <div class="list">
        <ng-container *ngIf="studentList.length">
            <div class="item" *ngFor="let student of studentList">
                {{student.name}}
            </div>
        </ng-container>
    </div>
</div>
